.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #2d3748; /* Dark Gray */
    color: white;
    text-align: center;
  }
  
  .footer .text-xs {
    color: #cbd5e0; /* Light gray for copyright text */
  }
  
  .footer .font-semibold {
    font-weight: 600;
  }
  
  .footer p {
    margin-top: 0.5rem;
  }
  